:main
   Print ">> Good day, " false
   Set REG = "%TOOL%\bin\update.ini"
   Set LAST = "https://raw.githubusercontent.com/BlassGO/auto_img_request/main/update.exe"
   Set LAST_HASH = "df007f2b515d5430d8243ee4dd4172dffa8b5cecda99876a817684b924cdc80c"
   If $(FileExist REG)
      GetSaved REG
      If NOT_INSTALL_HASH=LAST_HASH
         Print "no news yet!"
         Exit
   If LAST_HASH=$(get_hash A_ScriptFullPath "SHA256")
       Print "latest version!"
   Else
       Print "update available!"
       If $(Question "UPDATE" with "There are updates available!`n`nDo you want to install them?")
          Download LAST in "%TOOL%\bin\update.exe" with "update SHA256"
       Else
          Msg "HUH" with "Okay, I'll notify you when there's a new update!"
          Save "NOT_INSTALL_HASH" with LAST_HASH in REG
   