:main
   Print ">> Good day, " false
   Set REG = "%TOOL%\bin\update.ini"
   Set MAIN_VER = $(SubStr version 1 1)
   Set SPEC_VER = $(SubStr version 3 1)
   Set SPEC_VER_EXT = $(SubStr version 0)
   Set LAST = "https://github.com/BlassGO/AutoIMG/releases/download/auto_img_b1.3.0/AutoIMG_Updater@1.3.0.zip"
   Set TOOL_HASH = "4a35e1e8a9f1bcd9fae7cabaf22f8e23b411e33f35476e0fc64030cb1113a24d"
   If (MAIN_VER>1) || (SPEC_VER>0) || (SPEC_VER_EXT>=2)
      If $(FileExist REG)
         GetSaved REG
         If NOT_INSTALL_HASH=TOOL_HASH
            Print "no news yet!"
            Exit
      If TOOL_HASH=$(get_hash A_ScriptFullPath "SHA256")
         Print "latest version!"
      Else
         Print "update available!"
         If $(Question "UPDATE" with "There are updates available!`n`nDo you want to install them?")
            Download LAST in "%TOOL%\bin\update.zip" with "update_zip SHA256"
         Else
            Msg "HUH" with "Okay, I'll notify you when there's a new update!"
            Save "NOT_INSTALL_HASH" with TOOL_HASH in REG
   Else If $(Question "Oops" with "Versions prior to v1.0.2 require manual updating from the official website`n`nDo you want to go right now?")
      Print "excellent decision!"
      gotolink "https://github.com/BlassGO/AutoIMG/releases"
   Else
      Print "nothing to do..."
   Exit
